<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TREASURE HUNT</title>
    <link rel="stylesheet" href='{{url_for("static",filename="sorry.css")}}'>
</head>
<body>
    <nav>
        <div class="title"><h2>TREASURE HUNT</h2></div>
        <div class="links"><ul>
            <li>
                <a href="/">home</a>
            </li>
            <li>
                <a href="#">solutions</a>
            </li>
            <li>
                <a href="#">about</a>
            </li>
        </ul>
        </div>
        <div class="burger">
            <div class="b1"></div>
            <div class="b2"></div>
            <div class="b3"></div>
        </div>
    </nav>

    <div class="main">
        <h2>{{t}}</h2>
    </div>
    <script src='{{url_for("static",filename="sorry.js")}}'></script>
</body>
</html>